@import url('http://fonts.cdnfonts.com/css/mont');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
.header{
	width: 100%;
	background: url('../img/Background_1.svg');
}
.header .container{
	max-width: 1546px;
	margin: 0px auto;
}
.header__head{
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
}
.header__head__logo img{
	margin-left: 100px;
	max-width: 171px;
}
.menu_list{
	display: flex;
	padding-top: 20px;
}
.menu_item_1{
	font-family: 'Mont', sans-serif;
	font-size: 16px;
	font-weight: 800;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	margin: 50px;
}
.menu_item{
	font-family: 'Mont', sans-serif;
	font-size: 16px;
	font-weight: 800;
	color: rgba(236, 236, 236, 0.5);
	line-height: 20px;
	text-align: center;
	margin: 50px;
}

.header__title{
	display: flex;
	padding-top: 40px;
}
.header__title__img{
	width: 900px;
	border: 4px solid #FFFFFF;
}
.header__title__inner{
	width: 609px;
	margin-bottom: 70px;
}
.header__title__inner h1{
	font-family: 'Mont', sans-serif;
	font-size: 60px;
	font-weight: 300;
	line-height: 70px;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__title__inner h2{
	font-family: 'Mont', sans-serif;
	font-size: 38px;
	font-weight: 300;
	line-height: 45px;
	color: #FFFFFF;
}
.header__title__inner h3{
	font-family: 'Mont', sans-serif;
	font-size: 25px;
	font-weight: 300;
	line-height: 35px;
	color: #FFFFFF;
	text-transform: uppercase;
}
.header__title__inner h4{
	font-family: 'Mont', sans-serif;
	font-size: 24px;
	font-weight: 300;
	line-height: 35px;
	color: #FFFFFF;
	padding-bottom: 30px;
}
.header__title__inner menu{
	width: 520px;
	padding-bottom: 40px;
}
.header__title__inner menu li{
	font-family: 'Mont', sans-serif;
	font-size: 26px;
	font-weight: 300;
	line-height: 35px;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding-left: 20px;
}
.inner_button{
	margin-top: 40px;
}
.inner_button button{
	width: 420px;
	height: 66px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F0F0F0;
	border: 5px solid #F0F0F0;
	box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.25);
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #B29257;
}
.inner_button button p{
	width: 315px;
}
.inner_button button:hover{
	background: #DCAD55;
	border: 5px solid #DCAD55;
	box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	transition: 0.3s;
}
.inner_button button:hover svg *{
	fill: #FFFFFF;
	transition: 0.3s;
}
.inner_button button:active{
	background: #8C6E34;
	border: 5px solid #8C6E34;
	box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
}
.inner_button button:active svg *{
	fill: #FFFFFF;
	transition: 0.3s;
}

.header__form{
	display: flex;
	justify-content: center;
	padding: 40px 0px;
}
.header__form__title{
	width: 552px;
}
.header__form__title h2{
	font-family: 'Mont', sans-serif;
	font-size: 46px;
	font-weight: 300;
	line-height: 56px;
	color: #F0F0F0;
}
.header__form__title h3{
	font-family: 'Mont', sans-serif;
	font-size: 46px;
	font-weight: 300;
	line-height: 56px;
	color: #101010;
}
.header__form__inner{}


.header__form__inner button{
	width: 345px;
	height: 55px;
	background: #101010;
	border: 5px solid #FFFFFF;
	box-shadow: 3px 10px 18px rgba(0, 0, 0, 0.1);
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
}
.header__form__inner button:hover{
	background: #101010;
	border: 5px solid #DCAD55;
	box-shadow: 3px 10px 18px rgba(0, 0, 0, 0.25);
	transition: 0.3s;
}
.header__form__inner button:active{
	background: #8C6E34;
	border: 5px solid #DCAD55;
	box-shadow: 3px 10px 18px rgba(0, 0, 0, 0.25);
}