@media (max-width: 360px){
	.stock_bg .stock_bg__photo{
		display: none;
	}
	.stock_bg .stock_bg__text{
		max-width: 300px;
		font-size: 12px;
		line-height: 28px;
	}
	.stock__content .stock_bg{
		max-width: 340px;
	}
	.stock__content .stock_bg_2{
		max-width: 260px;
	}
	.stock__content .stock_bg_1{
		max-width: 300px;
	}
}